body {
    background-image: url('../images/agents/about-agents/planet.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.about-agents {
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-height: 70vh;
}

.about-agents__content {
    margin-top: 20px;
    margin-left: 15%;
    padding: 0px;
    width: 30%;
    max-height: 100%;
    color: rgb(233, 233, 233);
}

main h1,
main p,
main span {
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
    text-shadow: 0px 0px 10px black;
}

main p {
    font-size: 18px;
    font-weight: 300;
}

.nasa-block {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-nasa {
    margin-left: 15%;
    width: 70%;
    display: flex;
    gap: 100px;
}

.about-nasa__content {
    width: 50%;
}

.about-picture {
    height: 450px;
    width: 600px;
}


.articles {
    margin-left: 15%;
    width: 70%;
    margin-top: 50px;
}

.articles-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    transition: all 0.5s ease;
    gap: 20px;
}

.articles-list__item {
    width: 270px;
    height: 400px;

    transition: transform 0.5s, top 0.5s, left 0.5s;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.articles__link h2 {
    padding: 15px;
    margin: 0px;
    width: 240px;
    height: 370px;
    background-color: rgba(0, 0, 0, 0.253);
    text-shadow: 0px 0px 2px black;
    font-weight: 400;
    font-size: 21px;
}

.articles__link {
    text-decoration: none;
    color: rgb(233, 233, 233);
    transition: all 0.5s;
    border: 2px solid rgba(0, 0, 0, 0);
}

.articles__link:hover {
    transition: all 0.2s;
    transform: scale(1.05);
    border: 2px solid rgb(253, 253, 253);
}

.articles__link:active {
    transition: all 0.2s;
    transform: scale(1.03);
}

#asteroids {
    background-image: url('../images/agents/nasa/articles/asteroid.png');
}

#telescope {
    background-image: url('../images/agents/nasa/articles/telescope.png');
}

#moon {
    background-image: url('../images/agents/nasa/articles/moonBase.png');
}

#ai {
    background-image: url('../images/agents/nasa/articles/ai.png');
}

#mars {
    background-image: url('../images/agents/nasa/articles/mars.png');
}

#protect {
    background-image: url('../images/agents/nasa/articles/protect.png');
}

#turism {
    background-image: url('../images/agents/nasa/articles/turism.png');
}

#artemida {
    background-image: url('../images/agents/nasa/articles/artemida.png');
}


.esa-block {
    backdrop-filter: blur(10px);
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-esa {
    margin-left: 15%;
    width: 70%;
    display: flex;
    gap: 100px;
}



#ariane {
    background-image: url('../images/agents/esa/articles/Ariane.png');
}

#hera {
    background-image: url('../images/agents/esa/articles/hera.png');
}

#mars-esa {
    background-image: url('../images/agents/esa/articles/mars.png');
    background-position: -300px;
}

#apophis {
    background-image: url('../images/agents/esa/articles/Apophis.png');
}

#tech {
    background-image: url('../images/agents/esa/articles/tech.png');
    background-position: -120px;
}

#journal {
    background-image: url('../images/agents/esa/articles/journal.png');
    background-position: -120px;
}

#signal {
    background-image: url('../images/agents/esa/articles/signal.png');
    background-position: -300px;
}

#hubble {
    background-image: url('../images/agents/esa/articles/hubble.png');
    background-position: -200px;
}

.article-full {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: calc(-100%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s;
    z-index: 1;
}

.article-full__content {
    margin: 0 300px;
    height: 100%;
    background: linear-gradient(90deg, rgb(27, 27, 27) 10%, rgb(31, 31, 31) 50%, rgb(24, 24, 24) 100%);
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px white;

}

.article-full.visible {
    left: 0;
    opacity: 1;
    pointer-events: auto;
}

.blur-bg {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
}

.article-full__text {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

body.no-scroll {
    overflow: hidden;
}

.article-wraper {
    margin: 60px;
}

.article-wraper img{
    width: 100%;
}

@media (max-width: 1200px) {
    .about-agents__content {
        margin: 0 5%;
        width: 90%;
    }

    .about-nasa {
        display: block;
        margin: 0 5%;
        width: 90%;
    }

    .about-nasa__content {
        width: 90%;
        margin: 5px;
    }

    .about-esa {
        display: block;
        margin: 0 5%;
        width: 90%;
    }

    .about-esa__content {
        width: 90%;
        margin: 5px;
    }

    .article-full__content {
        margin: 0 50px;
    }

    .article-wraper {
        margin: 5px;
    }
}