body {
    color: rgb(233, 233, 233);
    background-image: url('../images/cosmo_science/mainBg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

main {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.63);
}

.science-slider {
    text-decoration: none;
    position: relative;
    margin-left: 5%;
    width: 90%;
    padding-top: 20px;
}

.science-list {
    margin: 0px;
    list-style: none;
    display: flex;

    flex-wrap: wrap;   

    justify-content: center;
    align-items: center;
}

.science-list-item {
    background-color: rgb(51, 54, 56);
    width: 20%;
    min-width: 250px;
    height: 25vh;

    padding: 10px;
    margin: 15px;

    color: rgb(240, 240, 240);

    border-radius: 15px;
    border: 3px solid rgb(39, 39, 39);

    box-shadow: 5px 4px 5px rgba(12, 12, 12, 0.514);

    text-align: center; 

    align-self: flex-end;

    transition: all 0.8s;
    transform-origin: center;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    cursor: pointer;
    opacity: 0.92;
}

.active-science {
    background-color: rgb(64, 66, 68);
    
    transform: scale(1.05); /* Здесь элемент увеличится на 10% */

    border: 3px solid rgb(233, 232, 232);
    box-shadow: 5px 4px rgba(90, 90, 90, 0.514);

    opacity: 1;
}

.science-list-item:hover {
    background-color: rgb(64, 66, 68);
    
    transition: all 0.3s;
    transform: scale(1.05); /* Здесь элемент увеличится на 10% */

    border: 3px solid rgb(233, 232, 232);
    box-shadow: 5px 4px rgba(90, 90, 90, 0.514);

    opacity: 1;
}

.science-text {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
    width: auto;
    border-radius: 15px;
    padding: 5px;
    font-size: 22px;
    text-shadow: 1px 1px 5px black;
}

#astronomy {
    background-image: url('../images/cosmo_science/scienceList/Astronomy.png');
}

#black-hole {
    background-image: url('../images/cosmo_science/scienceList/blackHole.png');
}

#cosmo-technologies {
    background-image: url('../images/cosmo_science/scienceList/technologies.png');
}

#colonia {
    background-image: url('../images/cosmo_science/scienceList/colonia.png');
}

.science-main{
    width: 60%;
    position: relative;
    left: 20%;
    gap: 10px;
    padding-bottom: 20px;

    font-size: 22px;
    transition: opacity 0.5s;

}

.hidden {
    opacity: 0;
}

.article-image {
    position: relative;
    width: 100%;
}

.science-main h1, h2 {
    text-align: center;
}

@media (max-width: 1200px) {
    .scince-text {
        padding: 2px;
        font-size: 12px;
    }
}

p {
    margin: 0px;
}