html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(26, 26, 26);
    margin: 0px;
    padding: 0px;
    color: rgb(233, 233, 233);
    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-style: normal;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

.navigate {
    position: -webkit-sticky;
    /* For Safari */
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 0px;
    margin: 0px;
    height: 100px;
    width: 100%;
    background-color: rgb(20, 20, 20, 0.7);
    /* background: linear-gradient(to top, #000000a1, #2c2c2cb9 ); */
    color: rgb(207, 207, 207);
    display: flex;
    backdrop-filter: blur(10px);
}


.nav-list {
    margin: 0px;
    padding: 0px;
    width: 100%;
    list-style: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list__item.explore {
    height: auto;
    width: 300px;
    font-size: 18px;
    padding: 10px;
    background-color: rgb(20, 20, 20);
    border-radius: 7px;
    border: 1px solid rgb(73, 73, 73);
    position: absolute;
    right: 50px;
    top: 30px;
    transition: border 0.3s;
    cursor: pointer;
    user-select: none;
    text-align: center;
}

.nav-list__item.explore.deactivate:hover {
    border: 1px solid rgb(73, 73, 73);
    transition: border 0.1s;
}

.panel-name {
    position: relative;
}

#menu-button {
    height: 25px;
    width: 35px;
}

.nav-list__item.explore.deactivate {
    width: 50px;
    border: 1px solid rgb(20, 20, 20, 0);
    background-color: rgb(20, 20, 20, 0);
}

.nav-links {
    list-style: none;
    position: relative;
    padding: 20px;
    text-align: left;
}

.nav-links__item {
    margin: 0px 10px;
    padding: 5px;
    border: 1px solid rgba(124, 124, 124, 0.377);
    border-left: none;
    border-right: none;
    border-top: none;
    transition: 0.6s;
}

.nav-links__item:first-child {
    border-top: 1px solid rgba(124, 124, 124, 0.377);
}

.nav-links__item:hover {
    background-color: #5D032F;
    transition: 0.2s;
}

.navi-link {
    width: 100%;
    height: 100%;
    color: rgb(207, 207, 207);
    text-decoration: none;
}

.navi-link:hover {
    text-decoration: none;
    color: rgb(207, 207, 207);
}

.hidden {
    opacity: 0;
    position: fixed;
    left: 9999px;
}

.nav-list__item.logo {
    background-image: url('../images/logoDepth.png');
    background-size: 80px 80px;
    /* Задайте необходимые размеры */
    background-repeat: no-repeat;
    /* Запретить повторение изображения */
    background-position: center;
    /* Центрирование изображения */
    width: 80px;
    height: 80px;
    border-radius: 50px;
    box-shadow: 5px 2px 5px black;

    justify-content: center;
}

.nav-list__item.links {
    display: flex;
    position: absolute;
    left: 30px;
    font-size: 18px;
    user-select: none;
}

.nav-list__item.links a {
    margin: 1px;
    color: rgb(207, 207, 207);
    text-decoration: none;
    transition: color 0.1s;
    border: 3px solid rgba(73, 73, 73, 0);
    padding: 10px;
    transition: border 0.1s;
    border-radius: 7px;
}

.nav-list__item.links a:hover {
    color: rgb(255, 255, 255);
    border: 3px solid rgb(109, 109, 109);
}

#active-page {
    opacity: 70%;
}

footer {
    min-height: 45vh;
    height: auto;
    width: 100%;
    background-color: rgb(20, 20, 20);
    position: absolute;
    display: block;
    align-items: center;
    font-size: 20px;
    transition: min-height 0.8s, height 0.8s;
    padding-top: 50px;
}

.last-line-footer {
    display: flex;
    align-items: center;
    margin-left: 65%;
    margin-bottom: 20px;
    width: 35%;
}

.footer__signature {
    font-size: 20px;
    font-weight: 500;
    font-size: 30px;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.footer-list {
    list-style: none;
    display: block;
}

.footer-list__item {
    margin-bottom: 20px;
    margin-left: 5%;
    padding: 20px;

    border: 1px solid rgba(214, 214, 214, 0.521);
    border-left: none;
    border-right: none;

    width: 85%;
    min-height: 30px;

    transition: min-height 0.8s, height 0.8s,
        background-color 0.9s, color 0.5s, opacity 0.5s;

    display: block;

    color: rgb(196, 196, 196);
    cursor: pointer;
}

.footer-list__item:hover {
    transition: background-color 0.3s, color 0.3s, opacity 0.3s;
    background-color: rgb(29, 29, 29);
    color: rgb(207, 207, 207);
}

.li-first-line {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.footer-list__item img {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10%;
    opacity: 80%;
    transition: transform 0.3s ease;
}

.footer-list__item.expanded img {
    transform: rotate(180deg);
}

.footer-content {
    display: none;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 10px;
    width: 90%;
}

.footer-content h5 {
    font-size: 20px;
    margin-left: 0;
    margin-bottom: 15px;
    margin-top: 15px;
}

.footer-content p {
    font-size: 18px;
    margin-left: 0;
    margin-bottom: 3px;
}

.footer-content a {
    color:rgb(233, 233, 233);
    opacity: 0.5;
    transition: 0.6s;
}

.footer-content a:hover {
    transition: 0.2s;
    color:rgb(255, 255, 255);
    opacity: 1;
}

.footer-list__item.expanded,
.footer-list__item:target {
    background-color: rgb(29, 29, 29);
    color: rgb(218, 217, 217);
}

.network-list {
    list-style: none;
    display: flex;
    margin: 10px;
}

.network-list__item {
    margin: 5px;
}

.network-list__link img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    transition: transform 0.8s;
}

.network-list__link img:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
}


@media (max-width: 1200px) {
    .nav-items {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        max-width: 50px;
        max-height: 50px;
    }

    .site-name {
        font-size: 20px;
    }

    .interesting-now-list-item {
        max-width: 100%;
    }

    .interesting-now-background-content {
        max-width: 80%;
    }

    .nav-list__item.links {
        display: none;
    }
}

#btn-up {
    background-color: #5D032F;
    border-radius: 30px;
    width: 50px;
    position: fixed;
    bottom: 50px;
    right: 20px;
    transition: 0.4s;
}

#btn-up:hover {   
    transition: 0.2s;
    transform: scale(1.1);
}

.to-up {
    opacity: 0.7;  
    transform: rotate(180deg);
}

.hide {
    opacity: 0;
}

